In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('C:/Users/user/Desktop/전처리데이터.csv', engine = 'python')

In [3]:
df2 = pd.read_csv('C:/Users/user/Desktop/인천광역시_빅데이터분석/인천광역시_전기자동차/work/격자_위경도.csv')

In [4]:
df2.head()

        gid          경도         위도
0  다사192446  126.586475  37.497583
1  다사193445  126.587617  37.496690
2  다사193447  126.587596  37.498492
3  다사194445  126.588749  37.496699
4  다사194446  126.588738  37.497600

In [5]:
df1.head()

        gid  count  건물1  건물2  건물3  행정기관  도서관  val  전기차와_충전소_전처리_Result_충전소
0  다사192446    NaN    1    0    0     0    0  NaN                        0
1  다사193445    NaN    3    0    0     0    0  NaN                        0
2  다사193447    NaN    2    0    0     0    0  NaN                        0
3  다사194445    NaN    2    0    0     0    0  NaN                        0
4  다사194446    NaN    0    0    0     0    0  NaN                        0

In [6]:
df1.shape

(860, 9)

In [7]:
df2.shape

(860, 3)

In [8]:
df1 = df1.sort_values(by = 'gid')

In [9]:
df2 = df2.sort_values(by = 'gid')

In [10]:
df3 = pd.merge(df1, df2, on='gid')

In [11]:
df3

,gid,count,건물1,건물2,건물3,행정기관,도서관,val,전기차와_충전소_전처리_Result_충전소,경도,위도
0,다사192446,NaN,1,0,0,0,0,NaN,0,126.586475,37.497583
1,다사193445,NaN,3,0,0,0,0,NaN,0,126.587617,37.496690
2,다사193447,NaN,2,0,0,0,0,NaN,0,126.587596,37.498492
3,다사194445,NaN,2,0,0,0,0,NaN,0,126.588749,37.496699
4,다사194446,NaN,0,0,0,0,0,NaN,0,126.588738,37.497600
...,...,...,...,...,...,...,...,...,...,...,...
855,다사269421,NaN,0,0,0,0,0,NaN,0,126.673825,37.475692
856,다사269422,NaN,0,0,0,0,0,NaN,0,126.673815,37.476593
857,다사269423,NaN,0,0,0,0,0,NaN,0,126.673805,37.477495
858,다사270421,NaN,0,0,0,0,0,NaN,0,126.674956,37.475700
859,다사270422,NaN,0,0,0,0,0,NaN,0,126.674946,37.476601

In [12]:
df3 = df3.fillna(0)

In [14]:
df3.rename(columns = {'count' : '주차장','val' : '생산가능인구'}, inplace = True)

In [15]:
df3.head()

,gid,주차장,건물1,건물2,건물3,행정기관,도서관,생산가능인구,전기차와_충전소_전처리_Result_충전소,경도,위도
0,다사192446,0.0,1,0,0,0,0,0.0,0,126.586475,37.497583
1,다사193445,0.0,3,0,0,0,0,0.0,0,126.587617,37.496690
2,다사193447,0.0,2,0,0,0,0,0.0,0,126.587596,37.498492
3,다사194445,0.0,2,0,0,0,0,0.0,0,126.588749,37.496699
4,다사194446,0.0,0,0,0,0,0,0.0,0,126.588738,37.497600

In [13]:
df3.to_csv('인천광역시_동구_데이터전처리.csv', encoding = 'utf-8')

In [18]:
df = pd.read_csv('C:/Users/user/Desktop/인천광역시_동구_데이터전처리.csv', engine = 'python')
df01 = df[['건물1', '건물2', '건물3', '행정기관', '도서관', '주차장', '생산가능인구', '충전소', '충전소_거리']]
import numpy as np
import matplotlib.pyplot as plt
df02 = (df01 - df01.mean())/df01.std()

In [19]:
df02.head()

,건물1,건물2,건물3,행정기관,도서관,주차장,생산가능인구,충전소,충전소_거리
0,-0.404987,-0.346496,-0.0341,-0.179931,-0.137606,-0.487299,-0.442943,-0.078949,-0.562699
1,-0.136142,-0.346496,-0.0341,-0.179931,-0.137606,-0.487299,-0.442943,-0.078949,-0.562699
2,-0.270565,-0.346496,-0.0341,-0.179931,-0.137606,-0.487299,-0.442943,-0.078949,-0.562699
3,-0.270565,-0.346496,-0.0341,-0.179931,-0.137606,-0.487299,-0.442943,-0.078949,-0.562699
4,-0.539410,-0.346496,-0.0341,-0.179931,-0.137606,-0.487299,-0.442943,-0.078949,-0.562699