In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv('C:/Users/user/Desktop/인천광역시_빅데이터분석/인천광역시_전기자동차/work/인천광역시_동구_유료주차장.csv', engine = 'python')
df2 = pd.read_csv('C:/Users/user/Desktop/인천광역시_빅데이터분석/인천광역시_전기자동차/work/인천광역시_동구_무료주차장.csv', engine = 'python')

In [6]:
df1.head()

                   주소  Unnamed: 1
0  인천광역시 동구 만석동 2-260         NaN
1     인천광역시 동구 송현동 66         NaN
2     인천광역시 동구 송림동 39         NaN
3  인천광역시 동구 송림동 60-81         NaN
4  인천광역시 동구 화평동 528-3         NaN

In [7]:
df2.head()

                주소  Unnamed: 1
0   인천 동구 만석동 14-1         NaN
1    인천 동구 만석동 7-6         NaN
2  인천 동구 만석동 9-173         NaN
3   인천 동구 만석동 44-3         NaN
4   인천 동구 만석동 45-9         NaN

In [21]:
df3 = pd.concat([df1,df2])

In [22]:
df3

                     주소  Unnamed: 1
0    인천광역시 동구 만석동 2-260         NaN
1       인천광역시 동구 송현동 66         NaN
2       인천광역시 동구 송림동 39         NaN
3    인천광역시 동구 송림동 60-81         NaN
4    인천광역시 동구 화평동 528-3         NaN
..                  ...         ...
107     인천 동구 송림동 20-17         NaN
108        인천 동구 금곡동 39         NaN
109    인천 동구 금곡동 48-150         NaN
110     인천 동구 금곡동 40-49         NaN
111     인천 동구 금곡동 58-36         NaN

[128 rows x 2 columns]

In [27]:
df3 = df3.drop('Unnamed: 1', axis = 1)

In [29]:
df3.to_csv('인천광역시_동구_유무료주차장.csv')

In [30]:
df4 = pd.read_csv('C:/Users/user/Desktop/ㅁㄴㅇㄹ.csv')

In [32]:
df4.head()

             A3     A6
0  인천광역시 동구 송현동  128-1
1  인천광역시 동구 송림동  90-26
2  인천광역시 동구 송현동  128-6
3  인천광역시 동구 송현동  128-6
4  인천광역시 동구 송현동  128-7

In [34]:
df4.shape

(765, 2)

In [50]:
df4['주소'] = df4[['A3', 'A6']].apply(lambda x: ' '.join(x), axis=1)

In [51]:
df4.shape

(765, 3)

In [52]:
df4.head()

             A3     A6                  주소
0  인천광역시 동구 송현동  128-1  인천광역시 동구 송현동 128-1
1  인천광역시 동구 송림동  90-26  인천광역시 동구 송림동 90-26
2  인천광역시 동구 송현동  128-6  인천광역시 동구 송현동 128-6
3  인천광역시 동구 송현동  128-6  인천광역시 동구 송현동 128-6
4  인천광역시 동구 송현동  128-7  인천광역시 동구 송현동 128-7

In [53]:
df5 = df4.drop('A3', axis = 1)

In [54]:
df5 = df5.drop('A6', axis = 1)

In [55]:
df5.shape

(765, 1)

In [56]:
df5.head()

                   주소
0  인천광역시 동구 송현동 128-1
1  인천광역시 동구 송림동 90-26
2  인천광역시 동구 송현동 128-6
3  인천광역시 동구 송현동 128-6
4  인천광역시 동구 송현동 128-7

In [58]:
df6 = pd.concat([df3,df5])

In [60]:
df6.shape

(893, 1)

In [61]:
df6

                     주소
0    인천광역시 동구 만석동 2-260
1       인천광역시 동구 송현동 66
2       인천광역시 동구 송림동 39
3    인천광역시 동구 송림동 60-81
4    인천광역시 동구 화평동 528-3
..                  ...
760  인천광역시 동구 송림동 8-689
761  인천광역시 동구 송림동 8-692
762  인천광역시 동구 송림동 8-693
763  인천광역시 동구 송림동 8-695
764  인천광역시 동구 송림동 8-696

[893 rows x 1 columns]

In [63]:
df6.to_csv('인천광역시_동구_유무료공영빌딩주차장.csv')

In [65]:
df7 = pd.read_csv('C:/Users/user/Desktop/인천광역시_빅데이터분석/인천광역시_전기자동차/work/인천광역시_동구_아파트주차장.csv', engine = 'python')

In [71]:
df8 = pd.read_csv('C:/Users/user/Desktop/인천광역시_동구_유무료공영빌딩주차장 - 인천광역시_동구_유무료공영빌딩주차장.csv', engine = 'python')

In [72]:
df7.head()

                      주소         X좌표        Y좌표
0       인천광역시 동구 수문통로 33  126.633127  37.479784
1       인천광역시 동구 인중로 621  126.640877  37.481369
2       인천광역시 동구 인중로 635  126.643578  37.482058
3  인천광역시 동구 제물량로341번길 38  126.619467  37.482968
4   인천광역시 동구 샛골로193번길 20  126.644500  37.480438

In [73]:
df8.head()

                   주소         X좌표        Y좌표
0  인천광역시 동구 만석동 2-260  126.622889  37.490283
1     인천광역시 동구 송현동 66  126.635313  37.480036
2     인천광역시 동구 송림동 39  126.645807  37.474507
3  인천광역시 동구 송림동 60-81  126.645599  37.475959
4  인천광역시 동구 화평동 528-3  126.631681  37.477099

In [74]:
df9 = pd.concat([df7,df8])

In [75]:
df7.shape

(27, 3)

In [76]:
df8.shape

(893, 3)

In [77]:
df9.shape

(920, 3)

In [78]:
df9.to_csv('인천광역시_동구_주차장.csv')