In [1]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('C:/Users/user/Desktop/인천광역시_빅데이터분석/인천광역시_전기자동차/work/건물_위경도.csv')
df1.head()

In [3]:
df1.rename(columns = {'BDTYP_CD' : '건물용도코드','BUL_MAN_NO' : '건물일련번호'}, inplace = True)
df2 = df1[['건물용도코드', '건물일련번호', '경도', '위도']]
df2.head()

   건물용도코드  건물일련번호          경도         위도
0    1003     330  126.652147  37.478623
1    1003    9630  126.652141  37.478681
2    1000    9629  126.652129  37.478759
3   16006     328  126.652288  37.478748
4   16006     332  126.652837  37.478401

In [4]:
df3 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/천안_전기차/건물가점_전처리.csv')
df4 = pd.merge(df2, df3, on='건물용도코드')
df4.head()

   건물용도코드  건물일련번호          경도         위도   건물종류  가점척도
0    1003     330  126.652147  37.478623  다가구주택     0
1    1003    9630  126.652141  37.478681  다가구주택     0
2    1003     232  126.637319  37.471975  다가구주택     0
3    1003     234  126.637398  37.472087  다가구주택     0
4    1003     235  126.637292  37.472091  다가구주택     0

In [6]:
df5 = df4[(df4.가점척도==0)]
df5.to_csv('건물0.csv')
df6 = df4[(df4.가점척도 == 1)]
df6.to_csv('건물1.csv')
df7 = df4[(df4.가점척도 == 2)]
df7.to_csv('건물2.csv')
df8 = df4[(df4.가점척도 == 3)]
df8.to_csv('건물3.csv')